
body {
  background: #101511;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}

h1 {
  margin:0;
}

/*Inicio do css*/

.logo{
  border-radius: 100%;
  width: 55px;
}

.header{
 position: fixed;
 background: #101511;
 z-index: 1;
 width: 100%;
 padding: 10px 20px;
}

.grid-template-columns-1{
  display: grid;
  grid-template-columns: 5% 20% 75%;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
}

.games-grid{
  padding: 20px;
  padding-top: 90px;
}


/*Fim do css*/

.filters {
  /*margin-bottom: 20px;*/
}


#searchInput {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #363b36;
  background-color: #101511;
  color: #01ec7b;
  font-family: "Poppins", sans-serif;
  transition: .5s ease-in-out;
}

input::placeholder{
  color: #01ec7b;
}

.item input:focus {
  border-color: #01ec7b!important;
  /*font-size: 2%;*/
  outline: green;
}


.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#select-all-sources {
  background: #333;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.8rem;
}

.source-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 4%;
}

.store-option input {
  display: none;
}

.store-tag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  border-radius: 6px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.store-tag:hover{
  color: #01ec7b;
}

.icon {
  color: #fff;
 }

.store-tag img {
  width: 15px;
  height: 15px;
}

.store-option input:checked + .store-tag {
  transform: scale(1.05);
  box-shadow: 0 0 6px rgba(1,236,123,0.6);
  color: #01ec7b;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.game {
  background: #181d18;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.game:hover {
  transform: scale(1.03);
}

.game img {
  width: 100%;
  border-radius: 6px;
}

.game-title {
  /*margin-top: 8px; */
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  position: absolute;
  bottom: 0;
  background: #181d18;
  width: 95%;
  padding: 7px;
  left: 0px;
}

.store-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
  /*padding: 4px 8px;*/
  padding: 4px;
  border-radius: 6px;
  /*font-size: 0.75rem;*/
  color: white;
  top: -7px;
  right: 0;
  position: absolute;
}

.store-badge span{
  display: none;
}

.store-badge img {
  width: 20px;
  height: 20px;
}

/*-----------*/

.filtroNome {
  position: relative;
  display: inline-block;
}

#searchInput {
  padding: 10px 35px 10px 10px;
  width: 250px;
  font-size: 14px;
}

.clear-btn {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  display: none;
  color: #01ec7b;
}

.clear-btn:hover {
  color: #fff;
}
